@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.navbar{
  background: linear-gradient(to right,#000000 0%,#371F5A 100%);
}

html, body, #__next {
  overflow-x: hidden !important;
}

